.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 3s;
}
.ex-2-square:active {
    width: 100%;
}

.ex-3-square{
    transition: 3s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
.ex-4-square {
    transition: 3s;
}
.ex-4-square:hover{
    opacity: 0;
}
.ex-5-square {
    transition: 3s;
}
.ex-5-square:hover {
    transform: scale(3);
    background-color: black;
}
.ex-5-square:active {
    transform: scale(1);
}
.ex-6-img:hover{
    filter: grayscale(1);
}
.ex-7-img {
    transition: 3s;
}

.ex-7-img:hover {
    filter: grayscale(.5) opacity(.3);
}
.ex-8-img {
transition: 2s;
}
.ex-8-img:hover {
    filter:drop-shadow(5px 5px 5px red);
    border-radius: 30px;
}
.ex-9-img{
    transition-duration: 3s;
}
.ex-9-img:hover{
    filter: blur(3px) drop-shadow(8px 8px 8px blue);
    transform: scale(1.5);
    border-radius: 30px;
}
.ex-10-icon {
    animation: myfirst 2s linear infinite;
}
@keyframes myfirst{

    0% {
        transform:rotate(2turn);
    }
}
.ex-11-icon:hover {
    animation: mysecond 2s linear;
}   
    @keyframes mysecond {
        
        0% {
            transform: rotate(0)
        }
        75% {
            transform: rotate(320deg);
        }
        100% {
            transform: rotate(0);
        }
    }

